TetrosMainMenu
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: white;
	pointer-events: all;

	flex-direction: row;
	justify-content: center;
	align-items: center;

	font-family: 04b08;
	gap: 92px;

	text-shadow: 0px 0px 8px black;

	.cover
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #161616;
		opacity: 0;
		z-index: 1;
	}

	.left
	{
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.logo
		{
			animation-name: hue-rotate;
			animation-duration: 10s;
			animation-iteration-count: infinite;
		}

		p
		{
			font-size: 22px;
		}
	
	}

	.right
	{
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.options
		{
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 72px;
			gap: 32px;

			button
			{
				transform: scale(1);
				transition: all 0.05s ease-in-out;
				cursor: pointer;

				&:hover
				{
					transform: scale(1.1);
					sound-in: tetros_menu_hover;
				}

				&:active
				{
					transform: scale(0.9);
					sound-in: tetros_menu_select;

					&.play
					{
						sound-in: tetros_menu_start;
					}
				}
			}
		}
	
	}

	&.no-interact
	{
		*
		{
			pointer-events: none;
		}
	}

}

@keyframes hue-rotate
{
	0%
	{
		filter: hue-rotate(0deg);
	}

	100%
	{
		filter: hue-rotate(360deg);
	}
}