TetrosSettingsMenu
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: all;

	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-family: 04b08;
	gap: 64px;
	color: white;

	z-index: 10000;

	h1
	{
		font-size: 64px;
	}

	.settings
	{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 32px;

		width: 60%;

		.setting
		{
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 32px;

			width: 100%;

			span
			{
				font-size: 32px;
			}

			.slider
			{
				width: 100%;
			}

			slidercontrol
			{
				max-width: 800px;

				.inner .track .thumb .value-tooltip .label
				{
					border-radius: 0px;
				}
			}
		}
	}

	button
	{
		transform: scale(1);
		transition: all 0.05s ease-in-out;
		font-size: 42px;
		cursor: pointer;

		&:hover
		{
			transform: scale(1.1);
			sound-in: tetros_menu_hover;
		}

		&:active
		{
			transform: scale(0.9);
			sound-in: tetros_menu_back;
		}
	}

	&.no-interact
	{
		*
		{
			pointer-events: none;
		}
	}

}