TetrosPauseMenu
{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, 0.6);

    flex-direction: column;
    pointer-events: all;
    align-items: center;
    justify-content: center;

    text-shadow: 0px 0px 8px black;

    color: white;
    font-family: 04b08;

    z-index: 999;
    
    font-size: 24px;

    .content
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 64px;
    }

    h1
    {
        font-size: 64px;
    }

    .options
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;

        button
        {
            transform: scale(1);
            transition: transform 0.05s ease-in-out;
            cursor: pointer;

            &:hover
            {
                transform: scale(1.1);
                sound-in: tetros_menu_hover;
            }

            &:active
            {
                transform: scale(0.9);

                &:not(.resume)
                {
                    &.main-menu
                    {
                        sound-in: tetros_menu_back;
                    }

                    &:not(.main-menu)
                    {
                        sound-in: tetros_menu_select;
                    }
                }
            }
        }
    }
    
    &.no-interact
    {
        *
        {
            pointer-events: none;
        }
    }

}