@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

@namespace TetrosEffect

<root>
	<div class="left">
		<img class="logo" src="/ui/tetros_effect_logo_glowing.png" />
		<p>by Carson Kompon</p>
	</div>

	<div class="right">
		<div class="options">
			<button class="btn btn-primary" onclick=@StartGame>Start Game</button>
			<button class="btn btn-primary" onclick=@Settings>Settings</button>
			<button class="btn btn-primary" onclick=@Quit>Quit</button>
		</div>
	</div>
</root>

@code
{

	void StartGame()
	{

	}

	void Settings()
	{

	}

	void Quit()
	{
		
	}
	
	protected override int BuildHash() => System.HashCode.Combine( "" );
}