TetrosSettingsMenu
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: all;

	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(black, 0.6);

	font-family: 04b08;
	gap: 64px;
	color: white;
	font-size: 24px;

	text-shadow: 0px 0px 8px black;

	z-index: 10000;

	h1
	{
		font-size: 64px;
	}

	.settings
	{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 32px;
		opacity: 1;
		font-size: 32px;

		width: 60%;

		.setting
		{
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 32px;

			width: 100%;

			.slider
			{
				width: 100%;
			}

			slidercontrol
			{
				max-width: 800px;

				.inner .track .thumb .value-tooltip .label
				{
					border-radius: 0px;
				}
			}
		}

		button
		{
			font-size: 32px;
		}
	}

	.controls
	{
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 40%;
		font-size: 24px;

		.category
		{
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 32px;
			width: 100%;

			h2
			{
				font-size: 32px;
			}

			.form
			{
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				gap: 16px;

				FormGroup
				{
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					gap: 32px;
					width: 100%;
				}
			}
		}

		keybind
		{
			background-color: #ffffff05;
			padding: 10px;
			font-size: 13px;
			text-align: center;
			justify-content: center;
			align-items: center;
			width: 200px;
			cursor: pointer;
			color: #aaa;

			&.with-highlight
			{
				color: #eee;
			}

			&:hover
			{
				background-color: #ffffff11;
			}

			&.active
			{
				background-color: #fff;
				color: #aaa;
			}
		}
	}

	button
	{
		transform: scale(1);
		transition: transform 0.05s ease-in-out;
		font-size: 42px;
		cursor: pointer;

		&:hover
		{
			transform: scale(1.1);
			sound-in: tetros_menu_hover;
		}

		&:active
		{
			transform: scale(0.9);
			sound-in: tetros_menu_back;
		}
	}

	&.no-interact
	{
		*
		{
			pointer-events: none;
		}
	}

	&.in-controls
	{
		.settings
		{
			opacity: 0;
			height: 0px;
		}

		.controls
		{
			display: flex;
			opacity: 1;
		}
	}

}