@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="title"></div>
</root>

@code
{

	public bool IsVisible = false;
	
	protected override int BuildHash() => System.HashCode.Combine( "" );
}