TetrosResultsScreen
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: all;
    background-color: rgba(black, 0.6);

	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: white;
	font-family: 04b08;
	gap: 64px;
	font-size: 24px;

	h1
	{
		font-size: 48px;
	}

	.options
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;

        button
        {
            transform: scale(1);
            transition: all 0.05s ease-in-out;
            cursor: pointer;

            &:hover
            {
                transform: scale(1.1);
                sound-in: tetros_menu_hover;
            }

            &:active
            {
                transform: scale(0.9);

                &:not(.resume)
                {
                    &.main-menu
                    {
                        sound-in: tetros_menu_back;
                    }

                    &:not(.main-menu)
                    {
                        sound-in: tetros_menu_select;
                    }
                }
            }
        }
    }
    
    &.no-interact
    {
        *
        {
            pointer-events: none;
        }
    }

}