{
  "Actions": [
    {
      "Name": "MoveLeft",
      "KeyboardCode": "LEFTARROW",
      "GamepadCode": "DpadEast",
      "GroupName": "Movement"
    },
    {
      "Name": "MoveRight",
      "KeyboardCode": "RIGHTARROW",
      "GamepadCode": "DpadWest",
      "GroupName": "Movement"
    },
    {
      "Name": "RotateLeft",
      "KeyboardCode": "z",
      "GamepadCode": "X",
      "GroupName": "Movement"
    },
    {
      "Name": "RotateRight",
      "KeyboardCode": "x",
      "GamepadCode": "A",
      "GroupName": "Movement"
    },
    {
      "Name": "SoftDrop",
      "KeyboardCode": "DOWNARROW",
      "GamepadCode": "DpadSouth",
      "GroupName": "Movement"
    },
    {
      "Name": "HardDrop",
      "KeyboardCode": "SPACE",
      "GamepadCode": "DpadNorth",
      "GroupName": "Movement"
    },
    {
      "Name": "Hold",
      "KeyboardCode": "SHIFT",
      "GamepadCode": "SwitchRightBumper",
      "GroupName": "Actions"
    },
    {
      "Name": "Chat",
      "KeyboardCode": "enter",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "AlternateRotate",
      "KeyboardCode": "UPARROW",
      "GamepadCode": "None",
      "GroupName": "Other"
    }
  ],
  "__guid": "14d86df8-bd91-425c-9829-c9a43b92457e",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}